<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;">

      <h1>Registro de Puesto_trabajo</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id:</mat-label>
        <input matInput required placeholder="Id" formControlName="id">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>reclutador_id:</mat-label>
        <input matInput required placeholder="Descripcion" formControlName="reclutadorId">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>requisitos_id:</mat-label>
        <input matInput required placeholder="Ingrese id empresa" formControlName="requisitoId">
      </mat-form-field>
      <br>
      <div style="text-align: center;">

      <button mat-raised-button class="color1">Aceptar</button>
      <button mat-raised-button class="color2" routerLink="/pages/Puesto_trabajo">Cancelar</button>
      <br>
      </div>
      <p>{{mensaje}}</p>
    </form>
  </div>
</body>
</html>

