<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;">

      <h1>Registro de Match</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id:</mat-label>
        <input matInput required placeholder="Id" formControlName="id" readonly="">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>confirmacion_match:</mat-label>
        <mat-select name="confirmacion_match" formControlName="confirmacion_match">
          <mat-option [value]="true">Si</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Reclutador</mat-label>
        <mat-select formControlName="reclutador" [(value)]="idReclutador">
          <mat-option *ngFor="let reclutador of reclutadores" [value]="reclutador.id">{{reclutador.usuario.nombre_Usuario}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Estudiante</mat-label>
        <mat-select formControlName="estudiante" [(value)]="idEstudiante" >
          <mat-option  *ngFor="let estudiante of estudiantes" [value]="estudiante.idEstudiante">{{ estudiante.usuario_Estudiante.nombre_Usuario }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div style="text-align: center;">

      <button mat-raised-button class="color1">Aceptar</button>
      <button mat-raised-button class="color2" routerLink="/pages/Match">Cancelar</button>
      <br>
      </div>
      <p>{{mensaje}}</p>
    </form>
  </div>
</body>
</html>
